<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyhqQPEUwz3riAGKxihmM2BR01X8x1ok8</string>
	<key>GCM_SENDER_ID</key>
	<string>584626996904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourdomain.figurenew2</string>
	<key>PROJECT_ID</key>
	<string>figureitout-d4721</string>
	<key>STORAGE_BUCKET</key>
	<string>figureitout-d4721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584626996904:ios:6d2617435d5de34a6fa49d</string>
	<key>DATABASE_URL</key>
	<string>https://figureitout-d4721-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>